In [1]:
countdf = read.csv('count.csv', header=TRUE, sep=',', fileEncoding="latin1")

Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
"invalid input found on input connection 'count.csv'"

In [2]:
canddf = read.csv('candidate.csv', header=TRUE, sep=',', fileEncoding="latin1")

Warning message in scan(file = file, what = what, sep = sep, quote = quote, dec = dec, :
"invalid input found on input connection 'candidate.csv'"

In [3]:
constdf = read.csv('constituency.csv', header=TRUE, sep=',', fileEncoding="latin1")

In [4]:
library(plyr)

In [5]:
install.packages("dplyr")

Installing package into 'C:/Users/Cian Morar/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"
Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\Cian Morar\Documents\R\win-library\3.6\00LOCK\dplyr\libs\x64\dplyr.dll to C:\Users\Cian Morar\Documents\R\win-library\3.6\dplyr\libs\x64\dplyr.dll: Permission denied"
Warning message:
"restored 'dplyr'"

The downloaded binary packages are in
	C:\Users\Cian Morar\AppData\Local\Temp\Rtmp6VIRo8\downloaded_packages

In [6]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:plyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [7]:
install.packages("plyr")

Installing package into 'C:/Users/Cian Morar/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

Warning message:
"package 'plyr' is in use and will not be installed"

In [8]:
library(plyr)

In [9]:
#Part 2 A
canddf[c('Surname', 'First.Name')][canddf$Constituency == 'Wexford', ]

    Surname First.Name
32  Browne  James
44  Byrne   Aoife
47  Byrne   Malcolm
59  Carthy  Ger
115 D'arcy  Michael
144 Dwyer   John
180 Foxe    Caroline
234 Hogan   Julie
241 Howlin  Brendan
257 Kehoe   Paul
263 Kelly   Leonard
286 Lloyd   David
303 Maloney David
382 Mythen  John

In [10]:
#Part 2 B
library(plyr)
count(canddf[canddf$Constituency == 'Laois', ], 'Constituency', )

  "Constituency" n
1 Constituency   4

In [11]:
#Part 2 C
library(dplyr)
count(distinct(canddf[c('Constituency')]), 'Constituency', )

  "Constituency" n
1 Constituency   40

In [12]:
#Part 3
count(distinct(constdf[c('Constituency.Name')]), 'Constituency.Name', )

  "Constituency.Name" n
1 Constituency.Name   40

In [13]:
#Part 5
a <- count(countdf[countdf$Constituency.Name == 'Laois', ], 'Candidate.surname', )

In [14]:
# count(distinct(countdf[countdf$Constituency.Name == 'Laois', ]), 'Constituency.Name', )
count(distinct(countdf[c('Constituency.Name')][countdf$Constituency.Name == 'Laois', ]), 'Candidate.Name' , )

ERROR: Error in UseMethod("distinct_"): no applicable method for 'distinct_' applied to an object of class "factor"

In [ ]:
canddf